body {
	margin: 40px 0 0 0;
	padding: 0;
	font-size: 12px;
	font-family: 宋体;
	background: #fff;
}
/*更改jqueryui主题对话框 header的背景*/
.ui-widget-header {
	background: url(../img/ui_header_bg.png);
	border: 1px solid #9D9D9D;
	text-align: center;
}
.ui-datepicker-header {
	color: #000000;
}
.ui-dialog-title {
	color: #000000;
}
.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png) ;
}
.ui-widget-header .ui-icon{
	background-image: url(images/ui-icons_222222_256x240.png) ;
}
.ui-state-hover, .ui-widget-content{
	border: 1px solid #666;
	background: #FFFFFF;
}
/*按钮正常状态的背景*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(../img/ui_header_bg.png);
	border: 1px solid #E7E7E7;
	color: #000000;
}
/*鼠标移动到按钮上的背景*/
.ui-state-hover, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(../img/ui_header_bg.png);
	border: 1px solid #ADADAD;
}
/*鼠标按下的背景*/
.ui-state-active .iu-state-focus .ui-widget-content, .ui-widget-header{
	background: url(../img/ui_white.png);
}
/*更改button .ui icon*/
.ui-state-default .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
/*工具提示的文本颜色*/
.ui-tooltip {
	color: #666;
}
/*邮箱自动补全的悬停背景色*/
.ui-menu .ui-state-focus {
	background: url(../img/ui_header_bg.png);
	color: #666;
	border: 1px solid #666;
}
/*邮箱自动补全字体颜色*/
.ui-menu {
	color: #666;
}
/*修改当天日期样式*/
.ui-datepicker-today .ui-state-highlight {
	border: 1px solid #eee;
	color: #f60;
}
/*日历ui选定单元格样式*/
.ui-datepicker-current-day .ui-state-active {
	border: 1px solid #eee;
	color: #06f;
}
#header {
	width: 100%;
	height: 40px;
	background: url(../img/header_bg.png);
	position: absolute;
	top: 0;
}

#header .header_main {
	width: 800px;
	height: 40px;
	margin: 0 auto;
}

#header .header_main h1 {
	font-size: 20px;
	margin: 0;
	padding: 0;
	color: #666666;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	float: left;
}

#header .header_search {
	padding: 6px 0 0 0;
	float: left;
}

#header .header_search .search {
	width: 300px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	color: #666;
	font-size: 14px;
	text-indent: 5px;
}

#header .header_button {
	padding: 5px;
	float: left;
}

#header .header_member {
	float: right;
	height: 40px;
	line-height: 40px;
	color: #555555;
	font-size: 14px;
}

#header .header_member a {
	text-decoration: none;
	color: #555555;
	font-size: 14px;
}
#reg {
	padding: 15px 0 0 15px;
}

#reg p label {
	font-size: 14px;
	color: #666;
}
#reg .star {
	font-size: 14px;
	color: red;
}
#reg .succ {
	width: 28px;
	display: inline-block;
	background: url(../img/reg_succ.png) no-repeat;
}
#reg ol {
	margin: 0;
	padding: 0 0 0 20px;
	color: maroon;
}
#reg ol li {
	height: 20px;
}
#reg .text {
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	width: 200px;
	height: 25px;
	line-height: 25px;
	color: #666;
	text-indent: 5px;
	margin: 3px 0 0 0;
	font-size: 13px;
}
#reg p, #question p{
	margin: 10px 0;
	padding: 0;
}

#login, #question{
	padding: 15px 0 0 15px;
}

#login p label, #question p label{
	font-size: 14px;
	color: #666;
}
#login .star,#question .star {
	font-size: 14px;
	color: red;
}
#login .succ, #question .succ {
	width: 28px;
	display: inline-block;
	background: url(../img/reg_succ.png) no-repeat;
}
#login ol, #question ol {
	margin: 0;
	padding: 0 0 0 20px;
	color: maroon;
}
#login ol li, #question ol li {
	height: 20px;
}
#login .text, #question .text {
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	width: 200px;
	height: 25px;
	line-height: 25px;
	color: #666;
	text-indent: 5px;
	margin: 3px 0 0 0;
	font-size: 13px;
}


#login p {
	margin: 10px 0;
	padding: 0;
}

#expires {
    position: relative;
    top: 2px;
    margin: 0 2px 0 125px;
}
#loading {
	background: url(../img/loading.gif) no-repeat 20px center;
	line-height: 25px ;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	color: #666;
}

#error {
	background: url(../img/error.png) no-repeat 20px center;
	line-height: 28px ;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	color: #666;
}

#tabs {
	border: none;
}
/*tab栏 active的时候的颜色*/
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: #666;
}
/*tab栏 鼠标移动上去的时候改变颜色*/
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link {
	color: #666;
}
.ui-state-hover:hover{
	border: 1px solid #ADADAD;
}
.ui-state-default a, .ui-state-default a:link {
	color: #666;
}
/*在default状态下颜色*/
.ui-tabs .ui-tabs-nav li a {
	color: #666;
}

#ui-id-12,#ui-id-8,#ui-id-10 {
	border: 1px solid #aaa;
	border-top: none;
	position: relative;
	top: -2px;
}


#main {
	width: 800px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}

#main .main-left {
	width: 580px;
	float: left;
}
#main .main-right {
	width: 200px;
	float: right;
}

.content h4 {
	color: #666;
	font-weight: normal;
}

.content h3 {
	color:#369;
}
.content .editor {
	line-height: 180%;
	overflow: hidden;
	color : #333;
}
.content .bottom {
	padding: 5px 0 0 0;
}
.content hr {
	color:#ccc;
	height:1px;
}
.content .up {
	float: right;
	color: #369;
	cursor: pointer;
}
.content .down {
	float: right;
	color: #369;
	cursor: pointer;
}